{% import "@main-menu/meatgg/menu_screen.css.j2" as meatgg %}
{% from "main_menu/icons.j2" import ICONS %}
{{ meatgg.menu_styles(ICONS) }}

.Wordmark {
  width: 100%;
  height: 36px;
  flow-children: right;
}

.Wordmark-mark {
  width: 36px;
  height: 36px;
  margin-right: 10px;
}

.Wordmark-meat,
.Wordmark-gg {
  vertical-align: center;
  font-size: 22px;
  font-weight: black;
  letter-spacing: -1px;
}

.Wordmark-meat {
  color: #ffffff;
}

.Wordmark-gg {
  color: accent;
}
