{% import "@main-menu/meatgg/menu_screen.css.j2" as meatgg %}
{% from "main_menu/icons.j2" import ICONS %}
{{ meatgg.menu_styles(ICONS) }}

.wordmark {
  width: 100%;
  height: 36px;
  flow-children: right;
}

.wordmark__mark {
  width: 36px;
  height: 36px;
  margin-right: 10px;
}

.wordmark__meat,
.wordmark__gg {
  vertical-align: center;
  font-size: 22px;
  font-weight: black;
  letter-spacing: -1px;
}

.wordmark__meat {
  color: text-primary;
}

.wordmark__gg {
  color: primary;
}

.home-actions {
  width: 100%;
  height: fit-children;
  flow-children: right;
  margin-top: 16px;
}

.home-actions .button {
  width: fit-children;
  height: 44px;
  padding: 0px 24px;
}
