{#- Maps each category icon name used by SubmenuRow::Icon to a built-in CS2 icon. -#}
{% set ICONS = [
  ("punish", "ban_global"),
  ("control", "player"),
  ("effects", "flair"),
  ("fun", "smile"),
  ("map", "random_map"),
  ("chat", "message"),
] %}
