{#- The admin menu in meat.gg's colours: flat dark surfaces, ignite red for hover and selection. -#}
{% include "admin_menu/window.css.j2" %}
{% include "admin_menu/sidebar.css.j2" %}
{% include "admin_menu/rows.css.j2" %}
{% include "admin_menu/footer.css.j2" %}
